.sidebar
{
    list-style-type: none;
    width: 300px;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    padding-bottom: 60px;
    padding-top: 30px;
    padding-left: 20px;
    left: 0px;
    overflow: scroll;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.01), 0 5px 15px 0 rgba(0,0,0,0.15);
}

::-webkit-scrollbar 
{
    display: none;
}

.list
{
    list-style-type: none;
    height: 100%;
    position: relative;
    display: list-item;
    padding: 1em;
    overflow: auto;
}

.list:hover
{
    cursor: pointer;
    color: skyblue;
    text-decoration: underline;
}

.list:active
{
    background-color: lightgray;
}

.bold
{
    height: 100%;
    position: relative;
    padding: 1em;
    font-weight: bold;
}