<body>
    <div id="side_nav">
        <ul class="sidebar">
            
<!--     General       -->
            
            <li syle="padding: 0px;">
                <a class="bold">General</a>
                <ul>
                    <li class="list">
                        <a>Gap Filling</a>
                    </li>
                    
                    <li class="list">
                        <a>Time Normalisation</a>
                    </li>
                    
                    <li class="list">
                        <a>Frequency Reduction</a>
                    </li>
                    
                    <li class="list">
                        <a>Endpoint Synchronisation</a>
                    </li>
                    
                    <li class="list">
                        <a>Invert Data</a>
                    </li>
                    
                </ul>
            </li> <!-- End General -->
            
<!--     EMG       -->
            
            <li syle="padding: 0px;">
                <a class="bold">EMG</a>
                <ul>
                    <li class="list">
                        <a>Butterworth Low Pass Filter</a>
                    </li>
                    
                    <li class="list">
                        <a>Critically Damped High Pass Filter</a>
                    </li>
                    
                    <li class="list">
                        <a>Band Pass Filter</a>
                    </li>
                    
                    <li class="list">
                        <a>Fullwave Rectification</a>
                    </li>
                </ul>
            </li> <!-- End EMG -->
                        
<!--     Kinematic       -->
            
            <li syle="padding: 0px;">
                <a class="bold">Kinematic</a>
                <ul>
                    <li class="list">
                        <a>Residual Analysis</a>
                    </li>
                    
                    <li class="list">
                        <a>Butterworth Low Pass Filter</a>
                    </li>
                    
                    <li class="list">
                        <a>Differentiation</a>
                    </li>
                    
                    <li class="list">
                        <a>Integration</a>
                    </li>
                </ul>
            </li> <!-- End Kinematic -->

        </ul>    <!-- End sidebar --> 
    </div>
</body>
