<header></header>
<body ng-content>
<!--  menus and biomech tools  -->
    <div class="toolbar">
       
<!--   biomech tools     -->
        <div class="toolbar_tools">
            <i class="fa fa-soccer-ball-o"></i> Biomechanic Tools
        </div>
        
<!--   import file     -->
        <div class="toolbar_tools">
            <i class="fa fa-folder-open"></i> Import File
        </div>

<!--   copy func     -->
        <div class="toolbar_tools">
            <i class="fa fa-copy"></i> Copy
        </div>

<!--   paste func     -->
        <div class="toolbar_tools">
            <i class="fa fa-paste"></i> Paste
        </div>

<!--   generate graph     -->
        <div class="toolbar_tools">
            <i class="fa fa-bar-chart"></i> Visualisation
        </div>
    </div>
    
<!--  spreadsheet  -->
    <div class="spreadsheet"></div>
</body>

<!--  fixed footer for selecting sheet(s)  -->
<footer class="footer">
    <!--    test sheets   -->
    <div class="footer_sheet">sheet1</div>
    <div class="footer_sheet">sheet2</div>
</footer>
