.toolbar
{
    width: 100%;
    height: 2em;
    left: 0px;
    top: 53px;
    padding-bottom: 20px;
//    padding-left: 20px;
    position: fixed; 
    background-color: aliceblue;
    box-shadow: 16px 0 6px 0 rgba(0,0,0,0.02), 0 5px 15px 0 rgba(0,0,0,0.1);
}

.toolbar_tools
{
    top: 0;
    width: auto;
    height: 50px;    
    padding: 15px;
    border-right: 1px solid lightgray;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.toolbar_tools:hover
{
    cursor: pointer;
    background-color: lightskyblue;
}

.toolbar_tools:active
{
    background-color: cornflowerblue;
    color: white;
}

.footer
{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
//  padding: 1rem;
  background-color: white;
  text-align: center;
  box-shadow: 16px 0 16px 0 rgba(0,0,0,0.2), 0 5px 15px 0 rgba(0,0,0,0.2);
}

.footer_sheet
{
    top: 0;
    width: 100px;
    height: 50px;    
    padding: 15px;
    border-right: 1px solid lightgray;
    box-sizing: border-box;
    float: left;
}

.footer_sheet:hover
{
    cursor: pointer;
    background-color: bisque;
}

.footer_sheet:active
{
    cursor: pointer;
    background-color: burlywood;
}

.spreadsheet
{
    overflow: scroll;
}