<body class='centre'>
    <h1>About</h1>
    <p>Information will be added later.</p>
</body>

<footer class="footer">
    <div class="column"></div>
            <img src="assets/ljmu_logo.jpg" alt="LJMU" style="height:100px;">
    
            <img src="assets/mu_logo.jpg" alt="MU" style="height:100px;">
    <div id="meta-links"></div>
</footer>
