.centre 
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #1e3279;
  text-align: center;
}

.column {
  width:50%;
  float:center;
  margin:0 10px;
}

.column-float-left {
  width:30.5%;
  float:left;
  margin:0 10px;
}

#meta-links {
 width:100%;
 float:left;   
 height:20px;
}