
@import 'C:/Users/Chayada/ionicProject/biomechanic-tools/src/app/theme/_variable.scss';

.header {
    background: $black-color;
    padding: 1rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 5px 15px 0 rgba(0,0,0,0.19);
}
.brand {
    color: $white-color;
    text-decoration: none;
}
.menu {
    float: right;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    
    &__item 
    {
        display: inline-block;
        vertical-align: middle;
    }
    
    &__link 
    {
        padding: 1rem;
        color: $white-color;
        text-decoration: none;
    }
    
    &__link:hover 
    {
        background-color: skyblue;
        text-decoration: none;
    }
    
    &__link:active 
    {
        padding: 1rem;
        background-color: dimgray;
        transform: translateY(4px);
    }
}