<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class='header'>
    <i class="glyphicon glyphicon-cloud"></i>
    <a routerLink="home" class='brand'>
        <i class="fa fa-home"></i>
        Home</a>
    <ul class='menu'>

<!--  Spread Sheet tab  -->

        <li class='menu__item'>
            <a routerLink="spread-sheet" class='menu__link'>Spread Sheet</a>
        </li>

<!--  Tutorial tab  -->

        <li class='menu__item'>
            <a routerLink="tutorial" class='menu__link'>Tutorial</a>
        </li>

<!--  Spread Sheet tab  -->

        <li class='menu__item'>
            <a routerLink="about" class='menu__link'>About</a>
        </li>
    </ul>
</nav>

<body>
    <br>
    <router-outlet></router-outlet>
</body>