@import 'C:/Users/Chayada/ionicProject/biomechanic-tools/src/app/theme/_variable.scss';
.title 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header 
{
    background: $dark-gray1-color;
    padding: 1rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.button
{
    background-color: $dark-gray1-color; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    width: 250px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.button:hover
{
    background-color: $gray2-color; 
    color: white;
    transition-duration: 0.4s;
    box-shadow: none;
}

.button:active {
  background-color: dimgray;
  transform: translateY(4px);
}

.brand {
    color: $white-color;
    text-decoration: none;
}

.menu 
{
    float: right;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    
    &__item 
    {
        display: inline-block;
        vertical-align: middle;
    }
    &__link 
    {
        padding: 1rem;
        color: $white-color;
        text-decoration: none;
    }
}